<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- jQuery -->
    <!-- <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script> -->
    <!-- CSS Override -->
    <link rel="stylesheet" href="style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="p5.min.js"></script>
    <script type="text/javascript" src="paint.js"></script>
    <title>Paint Game</title>
  </head>
  <body>
    <div id="main-container">
      <div id="sketch-container"></div>
    </div>
  </body>
</html>
