* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30pt;
  font-family: "Balsamiq Sans", cursive;
}

#main-container {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#sketch-container {
  margin-top: 10px;
}

#sketch-container canvas {
  border-radius: 5%;
}

.color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #888;
}

.color.selected {
  border: 2px solid #888;
}
